# Folder library (sangat besar, biarkan Railway yang menginstalnya)
node_modules/

# Data Sesi Baileys (SANGAT PENTING!)
# File di dalam folder ini adalah kunci akses ke WhatsApp Anda.
# Jangan pernah diunggah ke GitHub publik.
.baileys_auth/

# Log sistem
npm-debug.log*
yarn-debug.log*

# File sistem lokal
.DS_Store
Thumbs.db

# Environment variables
.env